#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16.666667%;
  overflow-y: auto;
}

.product-editor {
  height: 200px;
}

/* Override Quill styles to match Bootstrap theme */
.ql-toolbar.ql-snow {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  height: 150px;
}